# Test Transform Module

In [1]:
# To DO :
# - combine all tables
# - add hydro table stuff
# - work on aggregation stuff and manual overrides for this

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# Standard libraries
import logging
import sys
import os
import pathlib
import random

import pandas as pd
import numpy as np
import sqlalchemy as sa

# Local libraries
import pudl
from pudl.analysis.fill_ferc1_fuel_gaps import *
from pudl.analysis.flag_ferc1_totals import *
from pudl.analysis.clean_combine_ferc1 import *

# Enable viewing of logging outputs
logger=logging.getLogger()
logger.setLevel(logging.DEBUG)
handler = logging.StreamHandler(stream=sys.stdout)
formatter = logging.Formatter('%(message)s')
handler.setFormatter(formatter)
logger.handlers = [handler]

In [4]:
# Establish connection to pudl database
pudl_settings = pudl.workspace.setup.get_defaults()
pudl_engine = sa.create_engine(pudl_settings['pudl_db'])
pudl_out = pudl.output.pudltabl.PudlTabl(
    pudl_engine=pudl_engine,
    freq='AS'
)

ferc_engine = sa.create_engine(pudl_settings['ferc1_db'])

In [5]:
# View random utility groups! (thanks, Trenton)
def view_random_utility(df):
    df = df.reset_index(drop=True)
    util_groups = df.groupby(['utility_id_ferc1'])
    random_utility = random.choice(list(util_groups.groups.keys()))
    return df.iloc[util_groups.groups[random_utility]]

In [6]:
# # Establish table connections
steam = pudl_out.plants_steam_ferc1().assign(primary_fuel=np.nan)
# small_plants = pd.read_sql("f1_gnrt_plant", ferc_engine) # RAW
hydro = pudl_out.plants_hydro_ferc1()
pumped_storage = pudl_out.plants_pumped_storage_ferc1()

fbp = pudl_out.fbp_ferc1()

# Get raw version of small plants :) 
small_plants_raw = pd.read_sql("f1_gnrt_plant", ferc_engine)
small_plants = pudl_out.plants_small_ferc1()#.dropna(subset=['plant_name_ferc1'])
# Here we create a fake raw dfs dictionary with just the small plants df to run it through
# Zane's existing transform feature.
fake_dict = {'plants_small_ferc1': small_plants_raw}
new_dict = {}
small_plants_dict = pudl.transform.ferc1.plants_small(fake_dict, new_dict)
small_plants = small_plants_dict['plants_small_ferc1']

# drop rows with no plant name because we can't use that
small_plants = small_plants.dropna(subset=['plant_name_original'])

/Users/aesharpe/miniconda3/envs/pudl-dev/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [7]:
# Read in MUL
import pickle

with open('/Users/aesharpe/Desktop/ferc1_to_eia_full.pkl', 'rb') as handle:
    mul_ferc = pickle.load(handle)

In [10]:
#mul_ferc.columns.tolist()

In [13]:
mul_ferc.record_id_ferc1.duplicated().value_counts()

False    27592
True      6868
Name: record_id_ferc1, dtype: int64

In [16]:
mul_ferc.plant_part.unique()

array(['plant', 'plant_prime_mover', 'plant_unit', 'plant_gen',
       'plant_prime_fuel', 'plant_technology', 'plant_ferc_acct', nan],
      dtype=object)

In [12]:
mul_ferc[mul_ferc.record_id_ferc1.duplicated(keep=False)].sort_values('record_id_ferc1').head(2).T.head(40)
mul_ferc.head(2).T.head(40)

,0,1
record_id_ferc1,f1_steam_2009_12_100_0_1,f1_steam_2009_12_100_0_4
record_id_eia,6641_2009_plant_owned_12685,2051_2009_plant_total_12685
record_count,1.0,1.0
unit_id_pudl,<NA>,<NA>
generator_id,NaN,NaN
energy_source_code_1,SUB,NG
ownership_dupe,False,False
appro_part_label,plant,plant
prime_mover_code,ST,ST
fraction_owned,0.25,1.0
true_gran,True,True
plant_part,plant,plant
report_year,2009.0,2009.0
appro_record_id_eia,6641_2009_plant_owned_12685,2051_2009_plant_total_12685
technology_description,NaN,NaN
plant_id_pudl,284,154
utility_id_eia,12685,12685
plant_id_eia,6641.0,2051.0
utility_id_pudl,109,109
ferc_acct_name,Steam,Steam
plant_name_new,Independence Steam Electric Station,Delta
net_generation_mwh_eia_ferc1,2847522.25,-1298.0
ownership,owned,total
plant_name_eia,Independence Steam Electric Station,Delta
capacity_mw_eia_ferc1,425.0,225.0
total_fuel_cost_eia_ferc1,47713353.90506,0.0
utility_id_ferc1,<NA>,<NA>
utility_name_ferc1,NaN,NaN
plant_id_ferc1,<NA>,<NA>
plant_name_ferc1,NaN,NaN
asset_retirement_cost,NaN,NaN
avg_num_employees,NaN,NaN
capacity_factor,NaN,NaN
capacity_mw,NaN,NaN
capex_equipment,NaN,NaN
capex_land,NaN,NaN
capex_per_mw,NaN,NaN
capex_structures,NaN,NaN
capex_total,NaN,NaN
construction_type,NaN,NaN

In [28]:
ferc1_tables = {'steam': steam, 'small': small_plants, 'hydro': hydro, 'pumped': pumped_storage}

In [60]:
steam_ferc = SteamTable('steam', ferc1_tables['steam'].copy(), steam_value_cols, pudl_out)
small_ferc = SmallTable('small', ferc1_tables['small'].copy(), small_value_cols)
hydro_ferc = HydroTable('hydro', ferc1_tables['hydro'].copy(), hydro_value_cols)
ps_ferc = HydroTable('pumped-storage', ferc1_tables['pumped'].copy(), pumped_value_cols)
table_list = [steam_ferc, small_ferc, hydro_ferc, ps_ferc]

In [61]:
for table in table_list:
    table.transform()

*** TRANSFORMING STEAM TABLE ***
Cleaning steam table
Flagging totals rows for steam table
 - flagging specific totals
 - adding manual totals
 - backfilling totals by capacity
Labeling fuel types for steam table
 - loading EIA table
 - adding fuel types
  * filling fuels with obvious names
    27072 / 29102 rows left unfilled
  * filling in primary fuel by mmbtu
    3872 / 29102 rows left unfilled
  * filling in eia plants with one reported fuel
    2566 / 29105 rows left unfilled
  * filling in primary fuel by cost
    2290 / 29105 rows left unfilled
  * filling in raw ferc1 fuels
    2132 / 29105 rows left unfilled
  * filling in ferc plants with one fuel
    1318 / 29105 rows left unfilled
  * filling in pudl plants with one fuel
    1189 / 29105 rows left unfilled
  * filling in manually mapped fuels
    1100 / 29105 rows left unfilled
  * front and backfilling values with the same ferc1 id
    842 / 29105 rows left unfilled
  * flipping single fuel outliers for plant_id_ferc1
    842 / 29105 rows left unfilled
  * flipping multiple fuel outliers for groups under 7
    842 / 29105 rows left unfilled
  * flipping single outliers by capacity
 - adding plant types
  * filling plants with obvious names
    771 / 28528 rows left unfilled
  * filling in manually mapped plant types
 - adding tech types
  * merging single-tech EIA technology_description with FERC
    25501 / 28528 rows left unfilled
  * backfilling EIA technology_description by year if no new units installed
    15144 / 28528 rows left unfilled
  * combining primary_fuel and plant_type columns
    701 / 28528 rows left unfilled
  * making uniform tech description col

*** TRANSFORMING SMALL TABLE ***
Cleaning small table
 - Pre-clean length: 19245
 - Post-clean length: 19187
Flagging totals rows for small table
 - using basic total flag
Labeling fuel types for small table
Adding a column for FERC licenses
 - manually added licenses:             1842
 - programatically scraped licenses:             3839

PROOF: ROWS WHERE PROG ID DOES NOT MATCH MANUAL ID:
              plant_name_ferc1  report_year  ferc_license_manual  ferc_license
9776   rochester station #160         2006                 2596           160
10472  rochester station #160         2007                 2596           160

Labeling possible headers
Identifying header clumps...this'll take a second

100%|██████████| 1880/1880 [00:38<00:00, 48.76it/s]

 - validating clump findings
Assigning headers to groups

 - likely headers that have not been mapped: ['hydraulic' 'other:' 'other production:' 'lewiston canal facilities:'
 'other' 'hydraulic (1):' 'hydraulic:'
 'other general ops. supervision & engineering' 'other-leased:'
 'renewables' 'renewables:']
 - creating header groups
 - assigning headers to groups
Labeling all obvious headers
 - labeling all headers with a tech name in their name
 - labeling all records with a ferc license hydro

header matches manual plant type: 4902
total manual plant types: 6534
total headers mapped: 14892
total headers with manual: 15837
total rows: 17356


*** TRANSFORMING HYDRO TABLE ***
Cleaning hydro table
Flagging totals rows for hydro table
 - using basic total flag
Labeling fuel types for hydro table

*** TRANSFORMING PUMPED-STORAGE TABLE ***
Cleaning pumped-storage table
Flagging totals rows for pumped-storage table
 - using basic total flag
Labeling fuel types for pumped-storage table

In [46]:
steam_ferc.dropped_cols

Empty DataFrame
Columns: []
Index: []

In [56]:
z = pd.DataFrame()
z = z.append(test)
z

,report_year,utility_id_ferc1,utility_id_pudl,utility_name_ferc1,plant_id_pudl,plant_id_ferc1,plant_name_ferc1,asset_retirement_cost,avg_num_employees,capacity_factor,...,opex_steam_other,opex_structures,opex_transfer,peak_demand_mw,plant_capability_mw,plant_hours_connected_while_generating,plant_type,record_id,water_limited_capacity_mw,primary_fuel
0,1994,1,7,AEP Generating Company,531,1108,rockport unit 1,NaN,NaN,0.819843,...,NaN,396788.0,NaN,650.0,NaN,NaN,steam,f1_steam_1994_12_1_0_1,NaN,NaN
1,1994,1,7,AEP Generating Company,531,1109,rockport unit 2,NaN,NaN,0.781755,...,NaN,230300.0,NaN,650.0,NaN,NaN,steam,f1_steam_1994_12_1_0_2,NaN,NaN
2,1994,1,7,AEP Generating Company,531,2211,rockport,NaN,NaN,0.800799,...,NaN,627088.0,NaN,1300.0,NaN,NaN,steam,f1_steam_1994_12_1_0_3,NaN,NaN
3,1994,1,7,AEP Generating Company,531,1142,rockport total plant,NaN,462.0,0.781224,...,NaN,1254169.0,NaN,2600.0,NaN,NaN,steam,f1_steam_1994_12_1_0_4,NaN,NaN
4,1996,1,7,AEP Generating Company,531,1142,rockport total plant,NaN,325.0,NaN,...,NaN,1111411.0,NaN,2600.0,NaN,NaN,steam,f1_steam_1996_12_1_0_4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29265,2019,531,582,basin electric power cooperative (pudl determi...,6078,2070,pioneer generation s,NaN,3.0,0.239124,...,NaN,1026326.0,NaN,135.0,NaN,3541.0,combustion_turbine,f1_steam_2019_12_531_1_4,242.0,NaN
29266,2019,531,582,basin electric power cooperative (pudl determi...,2527,2071,spirit mound st,NaN,1.0,0.005209,...,NaN,225689.0,NaN,NaN,NaN,54.0,unknown,f1_steam_2019_12_531_1_5,120.0,NaN
29267,2019,531,582,basin electric power cooperative (pudl determi...,5149,2072,culbertson generatio,426475.0,3.0,0.139795,...,NaN,111163.0,NaN,95.0,NaN,2715.0,combustion_turbine,f1_steam_2019_12_531_2_1,95.0,NaN
29268,2019,531,582,basin electric power cooperative (pudl determi...,15392,2073,wisdom unit 2 genera,NaN,5.0,0.007125,...,NaN,22997.0,NaN,83.0,NaN,352.0,combustion_turbine,f1_steam_2019_12_531_2_2,127.0,NaN
29269,2019,22,69,Cleco Power LLC,14366,2074,st mary's,NaN,4.0,0.190025,...,NaN,749.0,NaN,47.0,NaN,2896.0,steam,f1_steam_2019_12_22_1_5,NaN,NaN

In [51]:
test = steam_ferc.df.copy()
#test[test['record_id'].str.contains('f1_steam_1994_12_1_0_3')]

In [23]:
test

,report_year,utility_id_ferc1,utility_id_pudl,utility_name_ferc1,plant_id_pudl,plant_id_ferc1,plant_name_ferc1,asset_retirement_cost,avg_num_employees,capacity_factor,...,opex_structures,opex_transfer,peak_demand_mw,plant_capability_mw,plant_hours_connected_while_generating,plant_type,record_id,water_limited_capacity_mw,primary_fuel,total_type
177,1994,2,18,ALABAMA POWER COMPANY,11536,8,ala.elec. coop.,NaN,NaN,0.465541,...,45931.0,NaN,NaN,NaN,NaN,unknown,f1_steam_1994_12_2_1_5,NaN,NaN,None
19798,1997,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,65059.0,NaN,NaN,NaN,NaN,unknown,f1_steam_1997_12_2_2_3,NaN,NaN,None
19799,1998,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,72191.0,NaN,NaN,NaN,NaN,unknown,f1_steam_1998_12_2_2_3,NaN,NaN,None
19800,1999,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,86698.0,NaN,NaN,NaN,NaN,unknown,f1_steam_1999_12_2_2_3,NaN,NaN,None
19801,2000,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,123522.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2000_12_2_2_3,NaN,NaN,None
19802,2001,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,141513.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2001_12_2_2_3,NaN,NaN,None
19803,2002,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,143419.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2002_12_2_2_3,NaN,NaN,None
19804,2003,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,154115.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2003_12_2_2_3,NaN,NaN,None
19805,2004,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,144806.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2004_12_2_2_3,NaN,NaN,None
19806,2005,2,18,ALABAMA POWER COMPANY,8468,1380,al elec coop's port.,NaN,NaN,inf,...,134083.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2005_12_2_2_3,NaN,NaN,None
25101,2005,2,18,ALABAMA POWER COMPANY,8469,1663,miss power,NaN,NaN,inf,...,270734.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2005_12_2_1_5,NaN,NaN,None
25319,2006,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,NaN,NaN,inf,...,226614.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2006_12_2_1_5,NaN,NaN,None
25320,2007,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,NaN,NaN,inf,...,138856.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2007_12_2_1_5,NaN,NaN,None
25321,2008,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,NaN,NaN,inf,...,210826.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2008_12_2_1_5,NaN,NaN,None
25322,2009,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,NaN,NaN,inf,...,330859.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2009_12_2_1_5,NaN,NaN,None
25323,2010,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,NaN,NaN,inf,...,485888.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2010_12_2_1_5,NaN,NaN,None
25324,2011,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,NaN,NaN,inf,...,437099.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2011_12_2_1_5,NaN,NaN,None
25325,2012,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,NaN,NaN,inf,...,363164.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2012_12_2_1_5,NaN,NaN,None
25326,2013,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,3.0,NaN,inf,...,383832.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2013_12_2_1_5,NaN,NaN,None
25327,2014,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,1528915.0,NaN,inf,...,398175.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2014_12_2_1_5,NaN,NaN,None
25328,2015,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,1528915.0,NaN,inf,...,542365.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2015_12_2_1_5,NaN,NaN,None
25329,2016,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,56725263.0,NaN,inf,...,430046.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2016_12_2_1_5,NaN,NaN,None
25330,2017,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,56196839.0,NaN,inf,...,324958.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2017_12_2_1_5,NaN,NaN,None
25331,2018,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,66452473.0,NaN,inf,...,475839.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2018_12_2_1_5,NaN,NaN,None
25332,2019,2,18,ALABAMA POWER COMPANY,382,1676,mississippi power 's,3488310.0,NaN,inf,...,587602.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2019_12_2_1_5,NaN,NaN,None
25333,2006,2,18,ALABAMA POWER COMPANY,8467,1380,al elec coop's,NaN,NaN,inf,...,199911.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2006_12_2_2_3,NaN,NaN,None
25334,2007,2,18,ALABAMA POWER COMPANY,8467,1380,al elec coop's,NaN,NaN,inf,...,253334.0,NaN,NaN,NaN,NaN,unknown,f1_steam_2007_12_2_2_3,NaN,NaN,None

In [21]:
file_path = '/Users/aesharpe/Desktop/manual_total_types.xlsx'
col_name = 'total_type_manual'

#add_manual_values(test, col_name, file_path)
add_man_totals(test)

adding manual totals

AssertionError: the following record_ids are not in the steam table: ['f1_steam_1994_12_1_0_3', 'f1_steam_1995_12_1_0_3', 'f1_steam_1996_12_1_0_3', 'f1_steam_1997_12_1_0_3', 'f1_steam_1998_12_1_0_3', 'f1_steam_1999_12_1_0_3', 'f1_steam_2000_12_1_0_3', 'f1_steam_2001_12_1_0_3', 'f1_steam_2002_12_1_0_3', 'f1_steam_2003_12_1_0_3', 'f1_steam_2004_12_1_0_3', 'f1_steam_2005_12_1_0_3', 'f1_steam_2006_12_1_0_3', 'f1_steam_2007_12_1_0_3', 'f1_steam_2008_12_1_0_3', 'f1_steam_2009_12_1_0_3', 'f1_steam_2010_12_1_0_3', 'f1_steam_2011_12_1_0_3', 'f1_steam_2012_12_1_0_3', 'f1_steam_2013_12_1_0_3', 'f1_steam_2014_12_1_0_3', 'f1_steam_2015_12_1_0_3', 'f1_steam_2016_12_1_0_3', 'f1_steam_2017_12_1_0_3', 'f1_steam_2018_12_1_0_3', 'f1_steam_2019_12_1_0_3', 'f1_steam_1994_12_73_1_3', 'f1_steam_1995_12_73_1_3', 'f1_steam_1996_12_73_1_3', 'f1_steam_1997_12_73_0_3', 'f1_steam_1998_12_73_0_3', 'f1_steam_1999_12_73_0_3', 'f1_steam_2000_12_73_0_3', 'f1_steam_2001_12_73_0_3', 'f1_steam_2002_12_73_0_3', 'f1_steam_2003_12_73_0_3', 'f1_steam_2004_12_73_0_3', 'f1_steam_2005_12_73_0_3', 'f1_steam_2006_12_73_0_3', 'f1_steam_2007_12_73_0_3', 'f1_steam_2008_12_73_0_3', 'f1_steam_2009_12_73_0_3', 'f1_steam_2010_12_73_0_3', 'f1_steam_2011_12_73_0_3', 'f1_steam_2012_12_73_0_3', 'f1_steam_2013_12_73_0_3', 'f1_steam_2014_12_73_0_3', 'f1_steam_2015_12_73_0_3', 'f1_steam_2016_12_73_0_3', 'f1_steam_2017_12_73_0_3', 'f1_steam_2018_12_73_0_3', 'f1_steam_2019_12_73_0_3', 'f1_steam_1994_12_6_0_3', 'f1_steam_1995_12_6_0_3', 'f1_steam_1996_12_6_0_3', 'f1_steam_1997_12_6_0_3', 'f1_steam_1998_12_6_0_3', 'f1_steam_1999_12_6_0_3', 'f1_steam_2000_12_6_0_3', 'f1_steam_2001_12_6_0_3', 'f1_steam_1994_12_31_0_3', 'f1_steam_1995_12_31_0_3', 'f1_steam_1996_12_31_0_3', 'f1_steam_1997_12_31_0_3', 'f1_steam_1998_12_31_0_3', 'f1_steam_1999_12_31_0_3', 'f1_steam_2000_12_31_0_3', 'f1_steam_2001_12_31_0_3', 'f1_steam_2002_12_31_0_3', 'f1_steam_2003_12_31_0_3', 'f1_steam_2004_12_31_0_3', 'f1_steam_2005_12_31_0_3', 'f1_steam_2006_12_31_0_3', 'f1_steam_2007_12_31_0_3', 'f1_steam_2008_12_31_0_3', 'f1_steam_2009_12_31_0_3', 'f1_steam_2010_12_31_0_3', 'f1_steam_2011_12_127_4_1', 'f1_steam_2012_12_127_4_1', 'f1_steam_2013_12_127_4_1', 'f1_steam_2014_12_452_1_2', 'f1_steam_1994_12_27_1_3', 'f1_steam_1995_12_27_1_3', 'f1_steam_1994_12_44_0_1', 'f1_steam_1995_12_44_0_1', 'f1_steam_1996_12_44_0_1', 'f1_steam_1997_12_44_0_1', 'f1_steam_1998_12_44_0_1', 'f1_steam_1999_12_44_0_1', 'f1_steam_2000_12_44_0_1', 'f1_steam_2001_12_44_0_1', 'f1_steam_2002_12_44_0_1', 'f1_steam_2003_12_44_0_1', 'f1_steam_2004_12_44_0_1', 'f1_steam_2005_12_44_0_1', 'f1_steam_2006_12_44_0_1', 'f1_steam_2007_12_44_0_1', 'f1_steam_2008_12_44_0_1', 'f1_steam_2009_12_44_0_1', 'f1_steam_2010_12_44_0_1', 'f1_steam_2011_12_44_0_1', 'f1_steam_2012_12_44_0_1', 'f1_steam_2013_12_44_0_1', 'f1_steam_2014_12_44_0_1', 'f1_steam_2015_12_44_0_1', 'f1_steam_2016_12_44_0_1', 'f1_steam_2017_12_44_0_1', 'f1_steam_2018_12_44_0_1', 'f1_steam_2019_12_44_0_1', 'f1_steam_2014_12_81_0_3', 'f1_steam_2015_12_81_0_3', 'f1_steam_2016_12_81_0_3', 'f1_steam_2017_12_81_0_3', 'f1_steam_2018_12_81_0_3', 'f1_steam_2019_12_81_0_3', 'f1_steam_2014_12_452_3_3', 'f1_steam_2015_12_192_0_2', 'f1_steam_2016_12_192_0_2', 'f1_steam_2017_12_192_0_2', 'f1_steam_2018_12_192_0_2', 'f1_steam_2019_12_192_0_2', 'f1_steam_2010_12_79_1_1', 'f1_steam_2011_12_79_1_1', 'f1_steam_2012_12_79_1_1', 'f1_steam_2013_12_79_1_1', 'f1_steam_2014_12_79_1_1', 'f1_steam_2015_12_79_1_1', 'f1_steam_2016_12_79_1_1', 'f1_steam_2017_12_79_1_1', 'f1_steam_2018_12_79_1_1', 'f1_steam_2019_12_79_1_1', 'f1_steam_2010_12_79_1_3', 'f1_steam_2011_12_79_1_3', 'f1_steam_2012_12_79_1_3', 'f1_steam_2013_12_79_1_3', 'f1_steam_2014_12_79_1_3', 'f1_steam_2015_12_79_1_3', 'f1_steam_2016_12_79_1_3', 'f1_steam_2017_12_79_1_3', 'f1_steam_2018_12_79_1_3', 'f1_steam_2019_12_79_1_3', 'f1_steam_1994_12_80_1_1', 'f1_steam_1995_12_80_1_3', 'f1_steam_1996_12_80_1_3', 'f1_steam_1997_12_80_1_3', 'f1_steam_1998_12_80_1_3', 'f1_steam_1999_12_80_1_3', 'f1_steam_2000_12_80_1_3', 'f1_steam_2001_12_80_1_3', 'f1_steam_2002_12_80_1_1', 'f1_steam_2003_12_80_1_1', 'f1_steam_2004_12_80_1_1', 'f1_steam_2005_12_80_1_1', 'f1_steam_2006_12_80_1_1', 'f1_steam_2007_12_80_1_1', 'f1_steam_2008_12_80_1_1', 'f1_steam_2009_12_80_1_1', 'f1_steam_1994_12_191_1_4', 'f1_steam_1995_12_191_1_5', 'f1_steam_1996_12_191_1_5', 'f1_steam_1997_12_191_1_5', 'f1_steam_1998_12_191_1_5', 'f1_steam_1999_12_191_1_5', 'f1_steam_2000_12_191_1_5', 'f1_steam_2001_12_191_1_5', 'f1_steam_2002_12_191_1_5', 'f1_steam_2003_12_191_1_5', 'f1_steam_2004_12_191_1_5', 'f1_steam_2005_12_191_1_3', 'f1_steam_2006_12_191_1_5', 'f1_steam_2007_12_191_1_5', 'f1_steam_2008_12_191_1_5', 'f1_steam_2009_12_191_1_5', 'f1_steam_1994_12_27_1_1', 'f1_steam_1995_12_27_1_1', 'f1_steam_1994_12_42_2_1', 'f1_steam_1995_12_42_2_1', 'f1_steam_1996_12_42_2_1', 'f1_steam_1997_12_42_2_1', 'f1_steam_1998_12_42_1_1', 'f1_steam_1999_12_42_1_1', 'f1_steam_2000_12_42_1_1', 'f1_steam_1994_12_193_0_3', 'f1_steam_1995_12_193_0_3', 'f1_steam_1994_12_193_1_4', 'f1_steam_1995_12_193_1_4', 'f1_steam_1994_12_193_3_4', 'f1_steam_1995_12_193_3_4', 'f1_steam_1994_12_193_5_2', 'f1_steam_1995_12_193_5_2', 'f1_steam_1994_12_193_5_5', 'f1_steam_1995_12_193_5_5', 'f1_steam_1994_12_193_6_5', 'f1_steam_1995_12_193_6_5', 'f1_steam_1994_12_194_0_4', 'f1_steam_1995_12_194_0_4', 'f1_steam_1996_12_194_0_4', 'f1_steam_1997_12_194_0_4', 'f1_steam_1998_12_194_0_4', 'f1_steam_1999_12_194_0_4', 'f1_steam_2000_12_194_0_4', 'f1_steam_2001_12_194_0_4', 'f1_steam_2002_12_194_0_4', 'f1_steam_2003_12_194_0_4', 'f1_steam_2004_12_194_0_4', 'f1_steam_2005_12_194_0_4', 'f1_steam_2006_12_194_0_4', 'f1_steam_2007_12_194_0_4', 'f1_steam_2008_12_194_0_4', 'f1_steam_2009_12_194_0_4', 'f1_steam_2010_12_194_0_4', 'f1_steam_2011_12_194_0_4', 'f1_steam_2012_12_194_0_1', 'f1_steam_2013_12_194_0_1', 'f1_steam_2014_12_194_0_1', 'f1_steam_2015_12_194_0_1', 'f1_steam_2016_12_194_0_1', 'f1_steam_2017_12_194_0_1', 'f1_steam_2018_12_194_0_1', 'f1_steam_1994_12_194_0_5', 'f1_steam_1995_12_194_0_5', 'f1_steam_1996_12_194_0_5', 'f1_steam_1997_12_194_0_5', 'f1_steam_1998_12_194_0_5', 'f1_steam_1999_12_194_0_5', 'f1_steam_2000_12_194_0_5', 'f1_steam_2001_12_194_0_5', 'f1_steam_2002_12_194_0_5', 'f1_steam_2003_12_194_0_5', 'f1_steam_2004_12_194_0_5', 'f1_steam_2005_12_194_0_5', 'f1_steam_2006_12_194_0_5', 'f1_steam_2007_12_194_0_5', 'f1_steam_2008_12_194_0_5', 'f1_steam_2009_12_194_0_5', 'f1_steam_2010_12_194_0_5', 'f1_steam_2011_12_194_0_5', 'f1_steam_2012_12_194_0_2', 'f1_steam_2013_12_194_0_2', 'f1_steam_2014_12_194_0_2', 'f1_steam_2015_12_194_0_2', 'f1_steam_2016_12_194_0_2', 'f1_steam_2017_12_194_0_2', 'f1_steam_2018_12_194_0_2', 'f1_steam_1994_12_194_2_3', 'f1_steam_1995_12_194_2_3', 'f1_steam_1996_12_194_2_3', 'f1_steam_1997_12_194_2_3', 'f1_steam_1998_12_194_1_4', 'f1_steam_1999_12_194_1_4', 'f1_steam_2000_12_194_1_4', 'f1_steam_2001_12_194_1_4', 'f1_steam_2002_12_194_1_4', 'f1_steam_2003_12_194_1_4', 'f1_steam_2004_12_194_1_4', 'f1_steam_2005_12_194_1_4', 'f1_steam_2006_12_194_1_4', 'f1_steam_2007_12_194_1_4', 'f1_steam_2008_12_194_1_4', 'f1_steam_2009_12_194_1_4', 'f1_steam_2010_12_194_1_4', 'f1_steam_2011_12_194_1_4', 'f1_steam_2012_12_194_1_1', 'f1_steam_2013_12_194_1_1', 'f1_steam_1994_12_89_1_5', 'f1_steam_1995_12_89_1_5', 'f1_steam_1996_12_89_1_5', 'f1_steam_1997_12_89_1_5', 'f1_steam_1998_12_89_1_3', 'f1_steam_1999_12_89_1_3', 'f1_steam_2000_12_89_1_3', 'f1_steam_2001_12_89_1_3', 'f1_steam_2002_12_89_1_5', 'f1_steam_2003_12_89_1_5', 'f1_steam_2004_12_89_1_5', 'f1_steam_2005_12_89_1_5', 'f1_steam_2006_12_89_1_5', 'f1_steam_2007_12_89_0_4', 'f1_steam_2008_12_89_0_5', 'f1_steam_2010_12_89_1_4', 'f1_steam_2011_12_89_1_4', 'f1_steam_2012_12_89_0_5', 'f1_steam_2013_12_89_0_5', 'f1_steam_2014_12_89_1_4', 'f1_steam_2015_12_89_1_5', 'f1_steam_2016_12_89_0_5', 'f1_steam_2017_12_89_0_5', 'f1_steam_2018_12_89_0_5', 'f1_steam_2019_12_89_0_4', 'f1_steam_1994_12_194_2_5', 'f1_steam_1995_12_194_2_5', 'f1_steam_1996_12_194_2_5', 'f1_steam_1997_12_194_2_5', 'f1_steam_1998_12_194_2_1', 'f1_steam_1999_12_194_2_1', 'f1_steam_2000_12_194_2_1', 'f1_steam_2001_12_194_2_1', 'f1_steam_2002_12_194_2_1', 'f1_steam_2003_12_194_2_1', 'f1_steam_2004_12_194_2_1', 'f1_steam_2005_12_194_2_1', 'f1_steam_2006_12_194_2_1', 'f1_steam_2007_12_194_2_1', 'f1_steam_2008_12_194_2_1', 'f1_steam_2009_12_194_2_1', 'f1_steam_2010_12_194_2_1', 'f1_steam_2011_12_194_2_1', 'f1_steam_2012_12_194_1_3', 'f1_steam_2013_12_194_1_3', 'f1_steam_2014_12_194_1_1', 'f1_steam_2015_12_194_1_1', 'f1_steam_2016_12_194_0_5', 'f1_steam_2017_12_194_0_5', 'f1_steam_2018_12_194_0_5', 'f1_steam_1994_12_194_3_4', 'f1_steam_1995_12_194_3_4', 'f1_steam_1996_12_194_3_4', 'f1_steam_1997_12_194_3_4', 'f1_steam_1998_12_194_2_3', 'f1_steam_1999_12_194_2_3', 'f1_steam_2000_12_194_2_3', 'f1_steam_2001_12_194_2_3', 'f1_steam_2002_12_194_2_3', 'f1_steam_2003_12_194_2_3', 'f1_steam_2004_12_194_2_3', 'f1_steam_2005_12_194_2_3', 'f1_steam_2006_12_194_2_3', 'f1_steam_2007_12_194_2_3', 'f1_steam_2008_12_194_2_3', 'f1_steam_2009_12_194_2_3', 'f1_steam_2010_12_194_2_3', 'f1_steam_2011_12_194_2_3', 'f1_steam_1994_12_134_0_5', 'f1_steam_1995_12_134_0_5', 'f1_steam_1996_12_134_0_5', 'f1_steam_1997_12_134_0_5', 'f1_steam_1998_12_134_0_5', 'f1_steam_1999_12_134_0_5', 'f1_steam_2000_12_134_0_5', 'f1_steam_2001_12_134_1_5', 'f1_steam_2002_12_134_1_5', 'f1_steam_2003_12_134_1_5', 'f1_steam_2004_12_134_1_5', 'f1_steam_2005_12_134_1_5', 'f1_steam_2006_12_134_1_5', 'f1_steam_2007_12_134_1_5', 'f1_steam_2008_12_134_1_5', 'f1_steam_2009_12_134_1_5', 'f1_steam_2010_12_134_1_5', 'f1_steam_2011_12_134_1_5', 'f1_steam_2012_12_134_1_5', 'f1_steam_2013_12_134_1_5', 'f1_steam_2014_12_134_1_5', 'f1_steam_2015_12_134_1_5', 'f1_steam_2016_12_134_1_4', 'f1_steam_2017_12_134_1_4', 'f1_steam_2018_12_134_1_4', 'f1_steam_2019_12_134_1_4', 'f1_steam_1994_12_195_1_5', 'f1_steam_1995_12_195_1_5', 'f1_steam_1996_12_195_1_5', 'f1_steam_1997_12_195_1_5', 'f1_steam_1998_12_195_1_5', 'f1_steam_1999_12_195_1_5', 'f1_steam_2000_12_195_1_5', 'f1_steam_2001_12_195_1_5', 'f1_steam_2002_12_195_1_5', 'f1_steam_2003_12_195_1_5', 'f1_steam_2004_12_195_1_5', 'f1_steam_2005_12_195_1_5', 'f1_steam_2006_12_195_1_5', 'f1_steam_2007_12_195_1_5', 'f1_steam_2008_12_195_1_3', 'f1_steam_2009_12_195_1_3', 'f1_steam_2010_12_195_1_3', 'f1_steam_2011_12_195_1_1', 'f1_steam_2012_12_195_1_1', 'f1_steam_2013_12_195_1_1', 'f1_steam_2014_12_195_1_1', 'f1_steam_2015_12_195_1_1', 'f1_steam_2016_12_195_1_1', 'f1_steam_2017_12_195_1_1', 'f1_steam_2018_12_195_1_1', 'f1_steam_1994_12_195_3_4', 'f1_steam_1995_12_195_3_4', 'f1_steam_1996_12_195_3_4', 'f1_steam_1997_12_195_3_4', 'f1_steam_1998_12_195_3_4', 'f1_steam_1999_12_195_3_4', 'f1_steam_2000_12_195_3_4', 'f1_steam_2001_12_195_3_4', 'f1_steam_2002_12_195_3_4', 'f1_steam_2003_12_195_3_4', 'f1_steam_2004_12_195_3_4', 'f1_steam_2005_12_195_3_4', 'f1_steam_2006_12_195_3_4', 'f1_steam_2007_12_195_3_4', 'f1_steam_2008_12_195_3_4', 'f1_steam_2009_12_195_3_4', 'f1_steam_2010_12_195_3_4', 'f1_steam_2011_12_195_2_3', 'f1_steam_2012_12_195_2_3', 'f1_steam_2013_12_195_2_3', 'f1_steam_2014_12_195_2_3', 'f1_steam_2015_12_195_2_3', 'f1_steam_2016_12_195_2_3', 'f1_steam_2017_12_195_2_3', 'f1_steam_2018_12_195_2_2', 'f1_steam_2008_12_195_2_5', 'f1_steam_2009_12_195_2_5', 'f1_steam_2010_12_195_2_5', 'f1_steam_2011_12_195_2_1', 'f1_steam_2012_12_195_2_1', 'f1_steam_2013_12_195_2_1', 'f1_steam_2014_12_195_2_1', 'f1_steam_2015_12_195_2_1', 'f1_steam_2016_12_195_2_1', 'f1_steam_2017_12_195_2_1', 'f1_steam_1994_12_195_3_5', 'f1_steam_1995_12_195_3_5', 'f1_steam_1996_12_195_3_5', 'f1_steam_1997_12_195_3_5', 'f1_steam_1998_12_195_3_5', 'f1_steam_1999_12_195_3_5', 'f1_steam_2000_12_195_3_5', 'f1_steam_2001_12_195_3_5', 'f1_steam_2002_12_195_3_5', 'f1_steam_2003_12_195_3_5', 'f1_steam_2004_12_195_3_5', 'f1_steam_2005_12_195_3_5', 'f1_steam_2004_12_195_5_5', 'f1_steam_2005_12_195_5_5', 'f1_steam_2006_12_195_5_3', 'f1_steam_2007_12_195_5_3', 'f1_steam_2008_12_195_5_3', 'f1_steam_2009_12_195_5_3', 'f1_steam_2010_12_195_5_3', 'f1_steam_2018_12_195_3_3', 'f1_steam_1994_12_57_5_1', 'f1_steam_1995_12_57_4_1', 'f1_steam_1996_12_57_4_1', 'f1_steam_1997_12_57_4_1', 'f1_steam_1999_12_57_4_1', 'f1_steam_2000_12_57_4_1', 'f1_steam_2001_12_57_4_1', 'f1_steam_2002_12_57_4_1', 'f1_steam_2003_12_57_4_1', 'f1_steam_2004_12_57_4_1', 'f1_steam_2005_12_57_4_1', 'f1_steam_2006_12_57_4_1', 'f1_steam_2007_12_57_4_1', 'f1_steam_2008_12_57_4_1', 'f1_steam_1994_12_57_5_3', 'f1_steam_1995_12_57_5_1', 'f1_steam_1996_12_57_5_1', 'f1_steam_1997_12_57_5_1', 'f1_steam_1999_12_57_5_1', 'f1_steam_2000_12_57_5_1', 'f1_steam_2001_12_57_5_1', 'f1_steam_2002_12_57_5_1', 'f1_steam_2003_12_57_5_1', 'f1_steam_2004_12_57_5_1', 'f1_steam_2005_12_57_5_1', 'f1_steam_2006_12_57_5_1', 'f1_steam_2007_12_57_5_1', 'f1_steam_2008_12_57_5_1', 'f1_steam_1995_12_193_9_4', 'f1_steam_2002_12_281_0_2', 'f1_steam_2003_12_281_0_2', 'f1_steam_2004_12_281_0_2', 'f1_steam_2005_12_281_0_2', 'f1_steam_2006_12_281_0_2', 'f1_steam_2011_12_89_2_5', 'f1_steam_2012_12_89_2_5', 'f1_steam_2013_12_89_2_5', 'f1_steam_2014_12_89_2_5', 'f1_steam_2015_12_89_2_5', 'f1_steam_2016_12_89_2_5', 'f1_steam_2017_12_89_2_5', 'f1_steam_2018_12_89_2_5', 'f1_steam_2019_12_89_1_2', 'f1_steam_1994_12_159_4_4', 'f1_steam_1995_12_159_4_4', 'f1_steam_1996_12_159_4_4', 'f1_steam_1997_12_159_4_4', 'f1_steam_1998_12_159_4_4', 'f1_steam_1999_12_159_4_4', 'f1_steam_2000_12_159_4_4', 'f1_steam_2001_12_159_4_4', 'f1_steam_2002_12_159_5_1', 'f1_steam_2003_12_159_4_4', 'f1_steam_2004_12_159_4_4', 'f1_steam_2005_12_159_4_4', 'f1_steam_2006_12_159_4_4', 'f1_steam_2007_12_159_4_3', 'f1_steam_2008_12_159_4_3', 'f1_steam_2009_12_159_4_3', 'f1_steam_2010_12_159_4_3', 'f1_steam_2011_12_159_4_3', 'f1_steam_2012_12_159_4_3', 'f1_steam_2013_12_159_4_3', 'f1_steam_2014_12_159_4_3', 'f1_steam_2015_12_159_4_3', 'f1_steam_2016_12_159_4_3', 'f1_steam_2017_12_159_4_3', 'f1_steam_2018_12_159_4_3', 'f1_steam_2019_12_159_4_3', 'f1_steam_1994_12_194_0_3', 'f1_steam_1995_12_194_0_3', 'f1_steam_1996_12_194_0_3', 'f1_steam_1997_12_194_0_3', 'f1_steam_1998_12_194_0_3', 'f1_steam_1999_12_194_0_3', 'f1_steam_2000_12_194_0_3', 'f1_steam_2001_12_194_0_3', 'f1_steam_2002_12_194_0_3', 'f1_steam_2003_12_194_0_3', 'f1_steam_2004_12_194_0_3', 'f1_steam_2005_12_194_0_3', 'f1_steam_2006_12_194_0_3', 'f1_steam_2007_12_194_0_3', 'f1_steam_2008_12_194_0_3', 'f1_steam_2009_12_194_0_3', 'f1_steam_1994_12_2_1_3', 'f1_steam_1995_12_2_2_3', 'f1_steam_1996_12_2_2_3', 'f1_steam_1997_12_2_2_1', 'f1_steam_1998_12_2_2_1', 'f1_steam_1999_12_2_2_1', 'f1_steam_2000_12_2_2_1', 'f1_steam_2001_12_2_2_1', 'f1_steam_2002_12_2_2_1', 'f1_steam_2003_12_2_2_1', 'f1_steam_2004_12_2_2_1', 'f1_steam_2005_12_2_2_1', 'f1_steam_2006_12_2_2_1', 'f1_steam_2007_12_2_2_1', 'f1_steam_2008_12_2_2_1', 'f1_steam_2009_12_2_2_1', 'f1_steam_2010_12_2_2_1', 'f1_steam_2011_12_2_2_1', 'f1_steam_2012_12_2_2_1', 'f1_steam_2013_12_2_2_1', 'f1_steam_2014_12_2_2_1', 'f1_steam_2015_12_2_2_1', 'f1_steam_2016_12_2_2_1', 'f1_steam_2017_12_2_2_1', 'f1_steam_2018_12_2_2_1', 'f1_steam_2019_12_2_2_1', 'f1_steam_1994_12_2_1_4', 'f1_steam_1995_12_2_1_4', 'f1_steam_1996_12_2_1_4', 'f1_steam_1997_12_2_2_2', 'f1_steam_1998_12_2_2_2', 'f1_steam_1999_12_2_2_2', 'f1_steam_2000_12_2_2_2', 'f1_steam_2001_12_2_2_2', 'f1_steam_2002_12_2_2_2', 'f1_steam_2003_12_2_2_2', 'f1_steam_2004_12_2_2_2', 'f1_steam_2005_12_2_2_2', 'f1_steam_2006_12_2_2_2', 'f1_steam_2007_12_2_2_2', 'f1_steam_2008_12_2_2_2', 'f1_steam_2009_12_2_2_2', 'f1_steam_2010_12_2_2_2', 'f1_steam_2011_12_2_2_2', 'f1_steam_2012_12_2_2_2', 'f1_steam_2013_12_2_2_2', 'f1_steam_2014_12_2_2_2', 'f1_steam_2015_12_2_2_2', 'f1_steam_2016_12_2_2_2', 'f1_steam_2017_12_2_2_2', 'f1_steam_2018_12_2_2_2', 'f1_steam_2019_12_2_2_2', 'f1_steam_1994_12_2_2_3', 'f1_steam_1995_12_2_1_3', 'f1_steam_1996_12_2_1_3', 'f1_steam_1997_12_2_1_3', 'f1_steam_1998_12_2_1_3', 'f1_steam_1999_12_2_1_3', 'f1_steam_2000_12_2_1_3', 'f1_steam_2001_12_2_1_3', 'f1_steam_2002_12_2_1_3', 'f1_steam_2003_12_2_1_3', 'f1_steam_2004_12_2_1_3', 'f1_steam_2005_12_2_1_3', 'f1_steam_2006_12_2_1_3', 'f1_steam_2007_12_2_1_3', 'f1_steam_2008_12_2_1_3', 'f1_steam_2009_12_2_1_3', 'f1_steam_2010_12_2_1_3', 'f1_steam_2011_12_2_1_3', 'f1_steam_2012_12_2_1_3', 'f1_steam_2013_12_2_1_3', 'f1_steam_2014_12_2_1_3', 'f1_steam_2015_12_2_1_3', 'f1_steam_2016_12_2_1_3', 'f1_steam_2017_12_2_1_3', 'f1_steam_2018_12_2_1_3', 'f1_steam_2019_12_2_1_3', 'f1_steam_1994_12_2_2_4', 'f1_steam_1995_12_2_2_4', 'f1_steam_1996_12_2_2_4', 'f1_steam_1997_12_2_1_4', 'f1_steam_1998_12_2_1_4', 'f1_steam_1999_12_2_1_4', 'f1_steam_2000_12_2_1_4', 'f1_steam_2001_12_2_1_4', 'f1_steam_2002_12_2_1_4', 'f1_steam_2003_12_2_1_4', 'f1_steam_2004_12_2_1_4', 'f1_steam_2005_12_2_1_4', 'f1_steam_2006_12_2_1_4', 'f1_steam_2007_12_2_1_4', 'f1_steam_2008_12_2_1_4', 'f1_steam_2009_12_2_1_4', 'f1_steam_2010_12_2_1_4', 'f1_steam_2011_12_2_1_4', 'f1_steam_2012_12_2_1_4', 'f1_steam_2013_12_2_1_4', 'f1_steam_2014_12_2_1_4', 'f1_steam_2015_12_2_1_4', 'f1_steam_2016_12_2_1_4', 'f1_steam_2017_12_2_1_4', 'f1_steam_2018_12_2_1_4', 'f1_steam_2019_12_2_1_4', 'f1_steam_1994_12_10_3_5', 'f1_steam_1995_12_10_3_4', 'f1_steam_1998_12_10_3_4', 'f1_steam_1999_12_10_3_4', 'f1_steam_2000_12_10_3_4', 'f1_steam_1994_12_10_2_5', 'f1_steam_1995_12_10_3_3', 'f1_steam_1998_12_10_3_3', 'f1_steam_1999_12_10_3_3', 'f1_steam_2000_12_10_3_3', 'f1_steam_1994_12_27_3_1', 'f1_steam_1995_12_27_3_1', 'f1_steam_1994_12_42_4_3', 'f1_steam_1995_12_42_1_3', 'f1_steam_1996_12_42_1_1', 'f1_steam_1997_12_42_1_1', 'f1_steam_1998_12_42_2_1', 'f1_steam_1999_12_42_2_1', 'f1_steam_2000_12_42_2_1', 'f1_steam_1994_12_65_0_4', 'f1_steam_1995_12_65_0_4', 'f1_steam_1996_12_65_0_4', 'f1_steam_1997_12_65_0_4', 'f1_steam_1998_12_65_0_4', 'f1_steam_1999_12_65_0_4', 'f1_steam_2000_12_65_0_4', 'f1_steam_2001_12_65_0_4', 'f1_steam_2002_12_65_0_4', 'f1_steam_2003_12_65_0_4', 'f1_steam_2004_12_65_0_4', 'f1_steam_2005_12_65_0_4', 'f1_steam_2006_12_65_0_4', 'f1_steam_2007_12_65_0_4', 'f1_steam_2008_12_65_0_4', 'f1_steam_1994_12_80_0_3', 'f1_steam_1995_12_80_0_3', 'f1_steam_1996_12_80_0_3', 'f1_steam_1997_12_80_0_3', 'f1_steam_1998_12_80_0_3', 'f1_steam_1999_12_80_0_3', 'f1_steam_2000_12_80_0_3', 'f1_steam_2001_12_80_0_3', 'f1_steam_2002_12_80_0_3', 'f1_steam_2003_12_80_0_3', 'f1_steam_2004_12_80_0_3', 'f1_steam_2005_12_80_0_3', 'f1_steam_2006_12_80_0_3', 'f1_steam_2007_12_80_0_3', 'f1_steam_2008_12_80_0_3', 'f1_steam_2009_12_80_0_3', 'f1_steam_1994_12_79_0_3', 'f1_steam_1995_12_79_0_3', 'f1_steam_1996_12_79_0_3', 'f1_steam_1997_12_79_0_3', 'f1_steam_1998_12_79_0_3', 'f1_steam_1999_12_79_0_3', 'f1_steam_2000_12_79_0_3', 'f1_steam_2001_12_79_0_3', 'f1_steam_2002_12_79_0_3', 'f1_steam_2003_12_79_0_3', 'f1_steam_2004_12_79_0_3', 'f1_steam_1994_12_194_5_5', 'f1_steam_1995_12_194_5_5', 'f1_steam_1996_12_194_5_5', 'f1_steam_1997_12_194_5_5', 'f1_steam_1998_12_194_4_3', 'f1_steam_1999_12_194_4_2', 'f1_steam_2000_12_194_4_2', 'f1_steam_2001_12_194_3_5', 'f1_steam_2002_12_194_3_5', 'f1_steam_2003_12_194_3_5', 'f1_steam_2004_12_194_3_5', 'f1_steam_2005_12_194_3_5', 'f1_steam_2006_12_194_3_5', 'f1_steam_2007_12_194_3_5', 'f1_steam_2008_12_194_3_5', 'f1_steam_2009_12_194_3_5', 'f1_steam_1994_12_194_7_4', 'f1_steam_1995_12_194_7_4', 'f1_steam_1996_12_194_7_4', 'f1_steam_1997_12_194_7_4', 'f1_steam_1998_12_194_5_3', 'f1_steam_1999_12_194_5_2', 'f1_steam_2000_12_194_5_2', 'f1_steam_2001_12_194_4_5', 'f1_steam_2002_12_194_4_5', 'f1_steam_2003_12_194_4_5', 'f1_steam_2004_12_194_4_5', 'f1_steam_2005_12_194_4_5', 'f1_steam_2006_12_194_4_5', 'f1_steam_2007_12_194_4_5', 'f1_steam_2008_12_194_4_5', 'f1_steam_2009_12_194_4_5', 'f1_steam_2010_12_194_4_5', 'f1_steam_2011_12_194_4_5', 'f1_steam_2012_12_194_3_3', 'f1_steam_2013_12_194_3_3', 'f1_steam_1994_12_194_8_5', 'f1_steam_1995_12_194_8_5', 'f1_steam_1996_12_194_8_5', 'f1_steam_1997_12_194_8_5', 'f1_steam_1998_12_194_6_2', 'f1_steam_1999_12_194_6_1', 'f1_steam_2

In [24]:
problem_list = (
    [x for x in list(full_years['record_id']) if x not in list(test['record_id'])])
assert len(problem_list) == 0, \
    f"the following record_ids are not in the steam table: {problem_list}"

In [25]:
# Check that there are no duplicate record_ids
record_dups = list(full_years[full_years['record_id'].duplicated()]['record_id'])
assert len(record_dups) == 0, \
    f"the following record_ids are duplicated: {record_dups}"

In [32]:
steam_ferc.flag_totals()

Flagging totals rows for steam table
flagging specific totals
adding manual totals
backfilling totals by capacity

In [ ]:
# TOTALS and AGG Stuff

In [48]:
steam_ferc.df.total_type.unique()

array([None, 'plant total', 'utility owned extra', 'utility owned total',
       'utility owned steam extra',
       'utility owned combustion turbine extra',
       'utility owned nuclear extra'], dtype=object)

In [38]:
aa = pd.read_excel('/Users/aesharpe/Desktop/manual_total_types.xlsx')

In [39]:
bb = aa.assign(report_year=lambda x: ([list(range(start, end)) for start, end in x[['start_year', 'end_year']].values]))

In [41]:
cc = bb.explode('report_year')

In [45]:
dd = cc.assign(record_id=lambda x: ('f1_steam_' + x.report_year.astype('str') + x.id_suffix))[['record_id', 'total_type_manual']].copy()

In [47]:
dd.total_type_manual.unique()

array(['utility owned plant total', 'plant total', 'unit total',
       'utility owned plant total steam', 'utility owned total',
       'utility owned subtotal', 'utility owned total nuclear',
       'utility owned plant extra'], dtype=object)

In [50]:
problem_list = (
    [x for x in list(dd['record_id']) if x not in list(steam_ferc.df['record_id'])])
assert len(problem_list) == 0, \
    f"the following record_ids are not in the steam table: {problem_list}"

In [51]:
test = steam_ferc.df.copy()

In [52]:
with_new_values = pd.merge(test, dd, on='record_id', how='left')

In [53]:
with_new_values

,report_year,utility_id_ferc1,utility_id_pudl,utility_name_ferc1,plant_id_pudl,plant_id_ferc1,plant_name_ferc1,asset_retirement_cost,avg_num_employees,capacity_factor,...,opex_transfer,peak_demand_mw,plant_capability_mw,plant_hours_connected_while_generating,plant_type,record_id,water_limited_capacity_mw,primary_fuel,total_type,total_type_manual
0,1994,1,7,AEP Generating Company,531,1108,rockport unit 1,NaN,NaN,0.819843,...,NaN,650.0,NaN,NaN,steam,f1_steam_1994_12_1_0_1,NaN,NaN,None,NaN
1,1994,1,7,AEP Generating Company,531,1109,rockport unit 2,NaN,NaN,0.781755,...,NaN,650.0,NaN,NaN,steam,f1_steam_1994_12_1_0_2,NaN,NaN,None,NaN
2,1994,1,7,AEP Generating Company,531,2211,rockport,NaN,NaN,0.800799,...,NaN,1300.0,NaN,NaN,steam,f1_steam_1994_12_1_0_3,NaN,NaN,None,utility owned plant total
3,1994,1,7,AEP Generating Company,531,1142,rockport total plant,NaN,462.0,0.781224,...,NaN,2600.0,NaN,NaN,steam,f1_steam_1994_12_1_0_4,NaN,NaN,plant total,NaN
4,1996,1,7,AEP Generating Company,531,1142,rockport total plant,NaN,325.0,NaN,...,NaN,2600.0,NaN,NaN,steam,f1_steam_1996_12_1_0_4,NaN,NaN,plant total,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29265,2019,531,582,basin electric power cooperative (pudl determi...,6078,2070,pioneer generation s,NaN,3.0,0.239124,...,NaN,135.0,NaN,3541.0,combustion_turbine,f1_steam_2019_12_531_1_4,242.0,NaN,None,NaN
29266,2019,531,582,basin electric power cooperative (pudl determi...,2527,2071,spirit mound st,NaN,1.0,0.005209,...,NaN,NaN,NaN,54.0,unknown,f1_steam_2019_12_531_1_5,120.0,NaN,None,NaN
29267,2019,531,582,basin electric power cooperative (pudl determi...,5149,2072,culbertson generatio,426475.0,3.0,0.139795,...,NaN,95.0,NaN,2715.0,combustion_turbine,f1_steam_2019_12_531_2_1,95.0,NaN,None,NaN
29268,2019,531,582,basin electric power cooperative (pudl determi...,15392,2073,wisdom unit 2 genera,NaN,5.0,0.007125,...,NaN,83.0,NaN,352.0,combustion_turbine,f1_steam_2019_12_531_2_2,127.0,NaN,None,NaN
29269,2019,22,69,Cleco Power LLC,14366,2074,st mary's,NaN,4.0,0.190025,...,NaN,47.0,NaN,2896.0,steam,f1_steam_2019_12_22_1_5,NaN,NaN,None,NaN

In [16]:
eia = pudl_out.gens_eia860().copy()
eia['report_year'] = eia['report_date'].dt.year

In [17]:
eia['tech_diff'] = (
    eia.groupby(['plant_id_eia', 'generator_id',])['technology_description']
    .transform(lambda x: len(x.dropna().unique()) > 1)
)

In [46]:
# View plants that change technology description
import random

regs = ['report_date','plant_id_eia','plant_id_pudl','plant_name_eia', 'generator_id', 'technology_description', 'operating_date',
        'current_planned_operating_date', 'energy_source_code_1', 'fuel_type_code_pudl', 'energy_source_code_2', 'multiple_fuels', 'planned_modifications',
        'operating_switch', 'operational_status', 'planned_modifications', 'planned_repower_date']

aa = eia[eia['tech_diff']==True].copy()
bb = aa.drop_duplicates(subset=['plant_id_eia', 'generator_id']).copy().reset_index()

idx = bb.iloc[random.randint(0,len(bb)-1)]['index']
plt_id = eia.loc[eia.index==idx]['plant_id_eia'].item()
gen_id = eia.loc[eia.index==idx]['generator_id'].item()
eia[(eia['plant_id_eia']==plt_id) & (eia['generator_id']==gen_id)][regs]

,report_date,plant_id_eia,plant_id_pudl,plant_name_eia,generator_id,technology_description,operating_date,current_planned_operating_date,energy_source_code_1,fuel_type_code_pudl,energy_source_code_2,multiple_fuels,planned_modifications,operating_switch,operational_status,planned_modifications,planned_repower_date
354707,2004-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,None,None,None,existing,None,None
335129,2005-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,None,None,None,existing,None,None
315225,2006-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,True,None,None,existing,None,None
294796,2007-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,True,True,None,existing,True,None
273487,2008-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,True,False,None,existing,False,None
251659,2009-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,True,False,None,existing,False,None
230969,2010-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,True,False,None,existing,False,None
209570,2011-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,True,False,None,existing,False,None
187764,2012-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,OBG,gas,NG,True,False,None,existing,False,None
165181,2013-01-01,56134,4820,Stockton Regional Water Control Facility,101,None,2000-11-01,None,NG,gas,OBG,None,None,None,existing,None,None
141466,2014-01-01,56134,4820,Stockton Regional Water Control Facility,101,Natural Gas Internal Combustion Engine,2000-11-01,None,NG,gas,OBG,None,None,None,existing,None,None
117024,2015-01-01,56134,4820,Stockton Regional Water Control Facility,101,Natural Gas Internal Combustion Engine,2000-11-01,None,NG,gas,OBG,None,None,None,existing,None,None
92010,2016-01-01,56134,4820,Stockton Regional Water Control Facility,101,Natural Gas Internal Combustion Engine,2000-11-01,None,NG,gas,OBG,True,None,None,existing,None,None
65860,2017-01-01,56134,4820,Stockton Regional Water Control Facility,101,Natural Gas Internal Combustion Engine,2000-11-01,None,NG,gas,OBG,True,None,None,existing,None,None
39144,2018-01-01,56134,4820,Stockton Regional Water Control Facility,101,Other Waste Biomass,2000-11-01,None,OBG,gas,NG,True,None,None,existing,None,None
11287,2019-01-01,56134,4820,Stockton Regional Water Control Facility,101,Other Waste Biomass,2000-11-01,None,OBG,gas,NG,True,None,None,existing,None,None

In [67]:
plt_id.item()

55245

In [63]:
[x for x in aa.index.tolist() if x in [135390]]
aa.loc[aa.index==idx]

,report_date,plant_id_eia,plant_id_pudl,plant_name_eia,utility_id_eia,utility_id_pudl,utility_name_eia,generator_id,associated_combined_heat_power,balancing_authority_code_eia,...,turbines_num,ultrasupercritical_tech,uprate_derate_completed_date,uprate_derate_during_year,winter_capacity_estimate,winter_capacity_mw,winter_estimated_capability_mw,zip_code,report_year,tech_diff
135390,2014-01-01,59701,10753,Subase Microgrid Project,4180,1317,Connecticut Mun Elec Engy Coop,SMP2,False,ISNE,...,NaN,None,None,None,None,2.0,NaN,06340,2014,True

In [45]:
bb[bb['index']==183776]
#aa.iloc[183776]
aa

,report_date,plant_id_eia,plant_id_pudl,plant_name_eia,utility_id_eia,utility_id_pudl,utility_name_eia,generator_id,associated_combined_heat_power,balancing_authority_code_eia,...,turbines_num,ultrasupercritical_tech,uprate_derate_completed_date,uprate_derate_during_year,winter_capacity_estimate,winter_capacity_mw,winter_estimated_capability_mw,zip_code,report_year,tech_diff
373853,2004-01-01,3,32,Barry,195,18,Alabama Power Co,1,False,SOCO,...,0.0,None,None,None,None,138.0,NaN,36512,2004,True
373852,2004-01-01,3,32,Barry,195,18,Alabama Power Co,2,False,SOCO,...,0.0,None,None,None,None,139.0,NaN,36512,2004,True
373840,2004-01-01,7,207,Gadsden,195,18,Alabama Power Co,1,True,SOCO,...,0.0,None,None,None,None,64.0,NaN,35903,2004,True
373839,2004-01-01,7,207,Gadsden,195,18,Alabama Power Co,2,True,SOCO,...,0.0,None,None,None,None,66.0,NaN,35903,2004,True
373832,2004-01-01,10,250,Greene County,195,18,Alabama Power Co,1,False,SOCO,...,0.0,None,None,None,None,254.0,NaN,36732,2004,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224,2019-01-01,61364,11404,Hu Honua Bioenergy Facility,61001,<NA>,"Hu Honua Bioenergy, LLC",HHB,False,HECO,...,NaN,None,None,None,None,32.0,NaN,96783,2019,True
3118,2019-01-01,61416,11456,Mount Sinai Hospital,61053,5793,Mount Sinai Hospital,EB10,False,NYIS,...,NaN,None,None,False,None,1.5,NaN,10029,2019,True
3117,2019-01-01,61416,11456,Mount Sinai Hospital,61053,5793,Mount Sinai Hospital,EB11,False,NYIS,...,NaN,None,None,False,None,1.5,NaN,10029,2019,True
2529,2019-01-01,61846,12827,Tulare BioMAT Fuel Cell,61467,6492,"Central CA Fuel Cell 2, LLC",MM27,None,CISO,...,NaN,None,None,False,None,2.8,NaN,93274,2019,True
2472,2019-01-01,61890,1839,NRG Chalk Point CT,61505,5559,NRG Chalk Point CT,SGT1,False,PJM,...,NaN,None,None,False,None,90.7,NaN,20608,2019,True

In [33]:
aa

,report_date,plant_id_eia,plant_id_pudl,plant_name_eia,utility_id_eia,utility_id_pudl,utility_name_eia,generator_id,associated_combined_heat_power,balancing_authority_code_eia,...,turbines_num,ultrasupercritical_tech,uprate_derate_completed_date,uprate_derate_during_year,winter_capacity_estimate,winter_capacity_mw,winter_estimated_capability_mw,zip_code,report_year,tech_diff
373853,2004-01-01,3,32,Barry,195,18,Alabama Power Co,1,False,SOCO,...,0.0,None,None,None,None,138.0,NaN,36512,2004,True
373852,2004-01-01,3,32,Barry,195,18,Alabama Power Co,2,False,SOCO,...,0.0,None,None,None,None,139.0,NaN,36512,2004,True
373840,2004-01-01,7,207,Gadsden,195,18,Alabama Power Co,1,True,SOCO,...,0.0,None,None,None,None,64.0,NaN,35903,2004,True
373839,2004-01-01,7,207,Gadsden,195,18,Alabama Power Co,2,True,SOCO,...,0.0,None,None,None,None,66.0,NaN,35903,2004,True
373832,2004-01-01,10,250,Greene County,195,18,Alabama Power Co,1,False,SOCO,...,0.0,None,None,None,None,254.0,NaN,36732,2004,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224,2019-01-01,61364,11404,Hu Honua Bioenergy Facility,61001,<NA>,"Hu Honua Bioenergy, LLC",HHB,False,HECO,...,NaN,None,None,None,None,32.0,NaN,96783,2019,True
3118,2019-01-01,61416,11456,Mount Sinai Hospital,61053,5793,Mount Sinai Hospital,EB10,False,NYIS,...,NaN,None,None,False,None,1.5,NaN,10029,2019,True
3117,2019-01-01,61416,11456,Mount Sinai Hospital,61053,5793,Mount Sinai Hospital,EB11,False,NYIS,...,NaN,None,None,False,None,1.5,NaN,10029,2019,True
2529,2019-01-01,61846,12827,Tulare BioMAT Fuel Cell,61467,6492,"Central CA Fuel Cell 2, LLC",MM27,None,CISO,...,NaN,None,None,False,None,2.8,NaN,93274,2019,True
2472,2019-01-01,61890,1839,NRG Chalk Point CT,61505,5559,NRG Chalk Point CT,SGT1,False,PJM,...,NaN,None,None,False,None,90.7,NaN,20608,2019,True

In [25]:
gen_id

'GEN3'

In [40]:
regs = ['report_date','plant_id_eia','plant_id_pudl','plant_name_eia', 'generator_id', 'technology_description', 'operating_date']
eia[(eia['plant_id_eia']==3) & (eia['report_date'].dt.year==2004)][regs]
eia[(eia['plant_id_eia']==3) & (eia['generator_id']=='1')][regs]

,report_date,plant_id_eia,plant_id_pudl,plant_name_eia,generator_id,technology_description,operating_date
373853,2004-01-01,3,32,Barry,1,None,1954-02-01
354361,2005-01-01,3,32,Barry,1,None,1954-02-01
334577,2006-01-01,3,32,Barry,1,None,1954-02-01
314336,2007-01-01,3,32,Barry,1,None,1954-02-01
293076,2008-01-01,3,32,Barry,1,None,1954-02-01
271362,2009-01-01,3,32,Barry,1,None,1954-02-01
249119,2010-01-01,3,32,Barry,1,None,1954-02-01
227763,2011-01-01,3,32,Barry,1,None,1954-02-01
205895,2012-01-01,3,32,Barry,1,None,1954-02-01
183235,2013-01-01,3,32,Barry,1,None,1954-02-01
159429,2014-01-01,3,32,Barry,1,Conventional Steam Coal,1954-02-01
134982,2015-01-01,3,32,Barry,1,Natural Gas Steam Turbine,1954-02-01
109928,2016-01-01,3,32,Barry,1,Natural Gas Steam Turbine,1954-02-01
83741,2017-01-01,3,32,Barry,1,Natural Gas Steam Turbine,1954-02-01
56958,2018-01-01,3,32,Barry,1,Natural Gas Steam Turbine,1954-02-01
29005,2019-01-01,3,32,Barry,1,Natural Gas Steam Turbine,1954-02-01

In [122]:
interest_cols = ['net_generation_mwh', 'capacity_mw', 'opex_fuel', 'opex_fuel_per_mwh', 'capacity_factor', 
'installation_year']

In [123]:
for col in interest_cols:
    show_tots(col)

NET_GENERATION_MWH

isna = True:
 True     264
False    221
Name: net_generation_mwh, dtype: int64
total sum: 2044124730.0
full sum: 51372828343.0
pct of total: 4.0

is zero = True:
 False    485
Name: net_generation_mwh, dtype: int64
total sum: 0.0
full sum: 51372828343.0
pct of total: 0.0

CAPACITY_MW

isna = True:
 False    485
Name: capacity_mw, dtype: int64
total sum: 369990.0
full sum: 51372828343.0
pct of total: 0.0

is zero = True:
 True     262
False    223
Name: capacity_mw, dtype: int64
total sum: 0.0
full sum: 51372828343.0
pct of total: 0.0

OPEX_FUEL

isna = True:
 False    306
True     179
Name: opex_fuel, dtype: int64
total sum: 30875491085.0
full sum: 51372828343.0
pct of total: 60.1

is zero = True:
 False    485
Name: opex_fuel, dtype: int64
total sum: 0.0
full sum: 51372828343.0
pct of total: 0.0

OPEX_FUEL_PER_MWH

isna = True:
 True     297
False    188
Name: opex_fuel_per_mwh, dtype: int64
total sum: 184153.0
full sum: 51372828343.0
pct of total: 0.0

is zero = True:
 False    485
Name: opex_fuel_per_mwh, dtype: int64
total sum: 0.0
full sum: 51372828343.0
pct of total: 0.0

CAPACITY_FACTOR

isna = True:
 True     264
False    221
Name: capacity_factor, dtype: int64
total sum: inf
full sum: 51372828343.0
pct of total: inf

is zero = True:
 False    485
Name: capacity_factor, dtype: int64
total sum: 0.0
full sum: 51372828343.0
pct of total: 0.0

INSTALLATION_YEAR

isna = True:
 True     311
False    174
Name: installation_year, dtype: int64
total sum: 345223.0
full sum: 51372828343.0
pct of total: 0.0

is zero = True:
 False    485
Name: installation_year, dtype: int64
total sum: 0.0
full sum: 51372828343.0
pct of total: 0.0

In [42]:
steam.columns.tolist()
steam.construction_type.unique()

array(['conventional', 'unknown', 'outdoor', 'semioutdoor'], dtype=object)

In [24]:
eia.columns.tolist()

['report_date',
 'plant_id_eia',
 'plant_id_pudl',
 'plant_name_eia',
 'utility_id_eia',
 'utility_id_pudl',
 'utility_name_eia',
 'generator_id',
 'associated_combined_heat_power',
 'balancing_authority_code_eia',
 'balancing_authority_name_eia',
 'bypass_heat_recovery',
 'capacity_mw',
 'carbon_capture',
 'city',
 'cofire_fuels',
 'county',
 'current_planned_operating_date',
 'data_source',
 'deliver_power_transgrid',
 'distributed_generation',
 'duct_burners',
 'energy_source_1_transport_1',
 'energy_source_1_transport_2',
 'energy_source_1_transport_3',
 'energy_source_2_transport_1',
 'energy_source_2_transport_2',
 'energy_source_2_transport_3',
 'energy_source_code_1',
 'energy_source_code_2',
 'energy_source_code_3',
 'energy_source_code_4',
 'energy_source_code_5',
 'energy_source_code_6',
 'ferc_cogen_status',
 'ferc_exempt_wholesale_generator',
 'ferc_small_power_producer',
 'fluidized_bed_tech',
 'fuel_type_code_pudl',
 'fuel_type_count',
 'grid_voltage_2_kv',
 'grid_voltage_3_kv',
 'grid_voltage_kv',
 'iso_rto_code',
 'latitude',
 'longitude',
 'minimum_load_mw',
 'multiple_fuels',
 'nameplate_power_factor',
 'operating_date',
 'operating_switch',
 'operational_status',
 'operational_status_code',
 'original_planned_operating_date',
 'other_combustion_tech',
 'other_modifications_date',
 'other_planned_modifications',
 'owned_by_non_utility',
 'ownership_code',
 'planned_derate_date',
 'planned_energy_source_code_1',
 'planned_modifications',
 'planned_net_summer_capacity_derate_mw',
 'planned_net_summer_capacity_uprate_mw',
 'planned_net_winter_capacity_derate_mw',
 'planned_net_winter_capacity_uprate_mw',
 'planned_new_capacity_mw',
 'planned_new_prime_mover_code',
 'planned_repower_date',
 'planned_retirement_date',
 'planned_uprate_date',
 'previously_canceled',
 'primary_purpose_naics_id',
 'prime_mover_code',
 'pulverized_coal_tech',
 'reactive_power_output_mvar',
 'retirement_date',
 'rto_iso_lmp_node_id',
 'rto_iso_location_wholesale_reporting_id',
 'sector_id',
 'sector_name',
 'service_area',
 'solid_fuel_gasification',
 'startup_source_code_1',
 'startup_source_code_2',
 'startup_source_code_3',
 'startup_source_code_4',
 'state',
 'stoker_tech',
 'street_address',
 'subcritical_tech',
 'summer_capacity_estimate',
 'summer_capacity_mw',
 'summer_estimated_capability_mw',
 'supercritical_tech',
 'switch_oil_gas',
 'syncronized_transmission_grid',
 'technology_description',
 'time_cold_shutdown_full_load_code',
 'timezone',
 'topping_bottoming_code',
 'turbines_inverters_hydrokinetics',
 'turbines_num',
 'ultrasupercritical_tech',
 'uprate_derate_completed_date',
 'uprate_derate_during_year',
 'winter_capacity_estimate',
 'winter_capacity_mw',
 'winter_estimated_capability_mw',
 'zip_code',
 'report_year']